
 /*color-primary: #e67e22;*/
   /*color-grey-dark: #333;*/


/*BASIC*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color:  #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #555;
}

/*NAVIGATION*/

.navbar {  
  font-size: 1.5rem;
}

.nav-link {
  margin-left: 1.5rem;

}

/*FOOTER*/

.footer {  
   color: #888;
   text-align: center;
   display: block;
 }

 .copyright a {
   color: #888;
}

.copyright {
   font-size: 1.1rem; 
   padding: 2rem 0;  
}

/*========================================================*/

/*UTILITIES*/
.u-center-text {
  text-align: center;
}

.row {
  padding-left: 10rem;
  padding-right: 10rem;
}

.u-right-text {
  text-align: right;
}
.u-left-text {
  text-align: left;
}

/*FEATURES*/

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 3rem;
}

/*HOME-PAGE*/

.section-home {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pictures/purple.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
    
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.font-top--main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.1;
}

.font-top--sub {
  display: block;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 3.1;
}

.sign {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

section {
  padding-top: .5rem;
}

.font-about--main {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 300;
}
.font-about--sub {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.text-about-box {
  padding-left: 20%;
  padding-right: 20%;
}

.about-img {
  height: 220px;
  margin-bottom: 2rem;
}

.section-prefooter-1 {
  background-color: #f4f4f4;
}

.feature-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
}

.feature-box_icon {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;   
    color: #cf6d17;  
}

/*SIGN-UP PAGE*/

.section-sign_up {
  position: relative;
  padding: 8rem 40rem 40rem 40rem;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 8rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /*z-index: -1;*/
  /*opacity: .3;*/
  overflow: hidden;

  
}

.bg-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  }

.text-sign-box {
  font-size: ;
}

.font-sign--main {
  font-size: 2rem;
  font-weight: 300;
}
.font-sign--sub {
  margin-bottom: 2.5rem;
  font-weight: 300;
  font-size: 1.5rem;
}

/*BUTTONS*/

/*btn - 1*/
.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: .5rem 3rem;
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  color: #e67e22;
}


.btn:hover,
.btn:active {
   background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active, 
input[type=submit]:hover,
input[type=submit]:active {
  border: 1px solid #cf6d17;
  
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #cf6d17;
  color: #fff;
}

/*btn-2*/
.btn-text:link,
.btn-text:visited {
  color: #e67e22;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding: 3px;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #e67e22;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba($color-black, .15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 .5rem 1rem rgba(#000, .15);
  transform: translateY(0);
}


/*TYPOGRATHY*/
.heading {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.heading--main {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  animation-name: moveInRight; 
  animation-duration: 1s;
  transition: all .2s;
  word-spacing: .6rem;

}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(10rem);
   }

   80% {
       transform: translate(-1rem);
   }

   100% {
        opacity: 1;
        transform: translate(0); 
   }
}

.heading-prefooter {
  font-size: 1.8rem;
  text-transform: uppercase;
}


 /*.sing {
   background-color: #8E44AD;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 2rem;
   font-size: 0.80rem;
   line-height: 0.8;
   border-radius: 50px;
   color: white;
   margin: 0 14px;
   outline: none!important;
}*/

/*.sign-new {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 3rem;
   font-size: 0.80rem;
   line-height: 1;
   border-radius: 50px;
   color: white!important;
   margin: auto;
   outline: none!important;
}*/

.lead {
   font-size: 15px;
}

.block-header {
    padding: 15px 25px;
    border-radius: 50px;
    background: #f5f5f5;
}

.block-header h5 {
  margin-bottom: 0!important;
  font-size: 1rem!important;
}

h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
}

.mb-5 {
  margin-bottom: 2rem!important;
}

.content-block {
  margin-bottom: 2rem;
}

.block-body {
    padding: 20px 30px!important;
}

.form-control {
   line-height: 1;
   border-radius: 50px!important;
   border: 1px solid #ced4da;
   box-shadow: #A33A80 !important;
   font-size: 0.8rem;

  }

.form-control:focus {
  border-color: #A33A80;
  box-shadow: 0 0 8px #A33A80;
}

.block {
  /*min-height:100%;*/
}

.padding-small {
  padding: 25px 0;
  margin:15px;
}

.customer-profile {
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #e9ecef;
    border-bottom: none;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 2rem;
}

.d-inline-block {
    display: inline-block;
}

.customer-profile a {
    color: #9055A2;
    text-decoration: none;
}

.name-user {
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
}

.text-small {
    font-size: 0.6rem;
}

.customer-image {
    padding: 0.5rem;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.125);
    max-width: 10rem;
    max-height: 10rem;
    margin-bottom: 1.5rem;
}

.rounded-circle {
    border-radius: 50%!important;
}


.img-user {
    vertical-align: middle;
  
}

.list-group {
   
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.customer-nav .list-group-item {
    border: 1px solid #e9ecef;
    color: #495057;
    font-weight: 500;
    font-size: 0.7rem;

}
.list-group-item {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;

}

.content-block {
    margin-bottom: 4rem;
}

.customer-nav .list-group-item .fa {
    margin-right: 0.5rem;
}

.is-gray {
  background: #f5f5f5;
  padding:10px;
  margin:10px;

}

.is-gray img {
  height:200px;
  width: 350px;
}

.is-gray .ribbon {
  padding: 5px 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 999;
  font-size: 0.5em;
  background: #A33A80;
}


.text-middle {
  font-size: 15px;
}

.price, .cuisine, .chef {
  margin-bottom: .5rem;
  position: relative;
}

.cuisine {
  padding: 1px;
  /*margin: 0 auto;*/
  text-align: center;
  font-family:  Cardo;
  font-size: 20px;  
}

.cuisine3 {
  padding: 1px;
  margin-right: 0;
  text-align: center;
  font-family:  Cardo;
  font-size: 20px;  
}

.cuisine2 {
  margin-top: .5rem;
}

.hidden {
  display: none;
}

.basket .basket-body {
    padding: 0 30px;
}

.img-carted {
     width: 170px!important;
     height: 100px;
    
}

.basket .item {
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
}
.basket .title {
    margin-left: 20px;
}

.carted a {
    text-decoration: none;
   }

.basket-check {
  padding-top: 20px;
}

.block-header .row {
  margin-right: 15px!important;
  margin-left: 15px!important;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /*border-collapse: collapse;*/
    width: 100%;
    text-align: center;
    min-height: 60% !important;

}

#customers td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

 #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}


#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #A33A80;;
    color: white;
}

#dish {
  width: 25%;
}

#price, #quantity, #subtotal, #remove {
  width: 15%;
}

#customers .form-group {
  margin-bottom:0!important;

}

.customers-order {
  color: #A33A80!important;
}

.picture  {
   
   background-size: 100% ;
   background-image:  url('/pictures/beans.jpg');
   padding: 40px;
   background-repeat: repeat-x;
   text-align: center;
   font-size: 4vw;
   color: #A33A80;
   font-family: Lobster, Times new roman;
   text-shadow: 2px 2px white;
   font-weight: 800;
   border-radius: 5px;
}

.button-filter {
   line-height: 1;
   border-radius: 50px;
   border: 1px solid #ced4da;
   box-shadow: #A33A80;
   font-size: 0.8rem;
   outline: none!important;

}


.button-filter:focus {
  border-color: #A33A80;
  box-shadow: 0 0 8px #A33A80;
  text-align: center;
}

.button-dishes {
  display: flex;
  padding: 25px 0;
  margin:15px;
}


.sign-filter  {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 3rem;
   font-size: 0.80rem;
   line-height: 1;
   border-radius: 50px;
   color: white!important;
   outline: none!important;
}








