/*color-primary: #e67e22;*/
/*color-grey-dark: #333;*/


/*BASIC*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*box-sizing: inherit;*/
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

}

.clearfix {zoom: 1;}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  box-sizing: border-box;
  background-color:  #fff;
  font-family: "Lato", 'Arial', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #555;
}

/*NAVIGATION*/



.navbar {  
  font-size: 1.8rem;
  font-weight: 400;
  box-shadow: 0 .5rem .9rem rgba(0, 0, 0, .15);
}


.logo {
   height: 60px;
    width: auto;
    float: left;
    margin-left: 2rem;
    
}

.nav {
  list-style: none;


}

/*a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}
*/
.nav li a:link,
.nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.nav li a:hover,
.nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.nav-link-center  {
  /*margin-left: 1.7rem;  */
  margin-right: 1.7rem;  
  /*text-align: center;*/
}

.nav-link-right  {
  margin-right: 2rem; 
  font-weight: 400 !important;
  font-size: 1.3rem !important;

}

.nav-icon {
  font-size: 1.8rem;
}

/*FOOTER*/

/*.footer {  
   color: #888;
   text-align: center;
   display: block;
 }*/

 .copyright a {
   color: #888;
}

.copyright {
   font-size: 1.1rem; 
   padding: 2rem 0;  
}


.footer {
  background-color: #f4f2f2;
  /*padding: 3.5rem 0;*/
  /*font-size: 1.4rem;*/
  /*color: $color-primary-light;*/  
  }
  
.services-block {
  padding: 5rem 0;
  line-height: 1rem;
}  
    
.footer_navigation-icon {
  display: inline-block;
  margin-right: 2.2rem;   
 }

 .justify-content-lg-start {
  justify-content: flex-start !important;
 }

.heading-primary-footer { 
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: .2rem;

  
}

footer.footer .services-block .icon-footer {
  margin-right: 2rem;
  font-size: 2.5rem;
  transition: all 0.3s;
}

.services-block h6 {
  font-weight: 700;
  font-size: 1.3rem;
}

.services-block span {
  font-weight: 300;
  font-size: 1.2rem;
}


.navigation-icon {
  display: inline-block;
  font-size: 1.7rem;
 
  margin: 2rem;

}
/*========================================================*/

/*REUSABLE*/
.u-center-text {
  text-align: center;

}

.u-right-text {
  text-align: right;
}

.u-items-center {
  align-items: center !important;
}

.u-left-text {
  text-align: left;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.u-margin-top-big {
  margin-top: 4rem;
}

.u-padding-side {
  padding-right: 15rem;
  padding-left: 15rem;
}

.no-margin {
  margin: 0 !important;
}
.u-margin-left {
  margin-left: .8rem;
}

.text-danger {
 background-color: rgba(209, 46, 46, 0.8); 
 color: #fff !important;
}

.d-flex {
  display: flex !important;
}

.d-float-left {
  float: left;
}

.justify-content-between {
  justify-content: space-between !important;
}
.d-inline-block {
    display: inline-block;
}


.justify-content-center {
  justify-content: center;
}



/*FEATURES*/

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 2rem;
}






/*HOME-PAGE*/

.section-home {
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(pictures/home.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
    
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.font-top--main {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  word-spacing: .65rem;
}

.font-top--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 3.1;
  /*text-transform: uppercase;*/
  word-spacing: .65rem;
}

.sign {
  margin-right: 1rem;
}

.section-sentence {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(pictures/back-3-large.jpeg);
  background: cover;
  background-position: center;
  color: #fff;
  background-attachment: fixed;
 
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3rem;
}

/*LOGIN*/
.modal-dialog {
  width: 30rem;
}

.modal-title {
  color: #555;
}

.col-form-label {
  font-weight: 700;
}



.modal {
  top: 7%;
}

.close:focus {
  outline: none !important;
}

.font-about--main {
  /*margin-top: 5rem;*/
  font-size: 1.5rem;
  font-weight: 300;
}
.font-about--sub {
  margin-top: 1.6rem;
  font-weight: 300;
  font-size: 1.3rem;
}

.about-img {
  height: auto;
  width: 100%;
  margin-bottom: 2rem;
}

.section-prefooter-1 {
  background-color: #f4f4f4;
}

.feature-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
}

.feature-box_icon {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;   
    color: #cf6d17;  
}

.box-chef {
  /*background: #f4f4f4;*/
  background: #fff;
  border: none !important;
  /*box-shadow: 0 2px 2px #efefef;*/

}

.section-chefs {
  
  /*background: #f4f4f4;*/
  padding-bottom: 4rem;
}

.section-chefs .container {
  padding-left: 15rem;
  padding-right: 15rem;
}

.img-chef {
  padding: 1rem;
  border-radius: 12px;
}

.section-features {
  
   background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), url(pictures/back-features-4.png);
  background-size: cover;
  background-position: top;
  /*color: #fff;*/
  /*background-attachment: fixed;*/
  height: 60vh;
 
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 3rem;
   /*background-color: #f4f4f4;*/
   /*padding-bottom: 1.5rem;*/
  
}

.section-features-2 {
  padding-bottom: 4rem;
}

.works-step div {
    color: #e67e22;
    font-size: 150%;
    height: 54px;
    width: 54px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    /*float: left;*/
    padding: 5px;
}

.icon-big {
    font-size: 450%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}



/*SIGN-UP PAGE*/

.section-sign_up, .section-log_in {
  position: relative;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 6rem;
  padding-top: 2rem;
  background: #f4f4f4;
  /*background: rgba(0, 0, 0, 0.4);*/

}

.section-sign_up ul {
  list-style: none;
}

.login {
  color: #e67e22;
}

/*.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -999;
  opacity: .8;
  overflow: hidden;
 
}

.bg-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;

  }*/

.text-sign-box {
  font-size: ;
}

.header-sign {
  border-bottom: 1px solid #e9ece1;
  margin-bottom: 1rem;
}

.font-sign--main {
  font-size: 2rem;
  font-weight: 300;
}
.font-sign--sub {
  margin-bottom: 2.5rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.form-group-1 {
  margin-bottom: 0;
}

.form-input {
  font-size: 1.2rem;
  color: inherit;
  padding: .3rem 1rem;
  border-radius: 2px;
  /*background-color: #fff;*/
  border: none;
  /*border-bottom: 3px solid transparent;*/
  border: 1px solid #ced4da;
  width: 100%;
  display: block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
   /*background-color: #f4f4f4;*/
  /*background-color: #333;*/
  /*background: rgba(0, 0, 0, 0.1);*/
  /*background: #cccccc;*/
}

.form-box-main {
  /*background: rgba(0, 0, 0, 0.4);*/
  background: #fff;
  padding: 2rem;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.form-box {
  padding-left: 20%;
  padding-right: 20%;
}

/*.form-group:not(:last-child) {
  margin-bottom: 1rem;
}*/

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #cf6d17;
}

.form-input:focus:invalid {
  border-bottom: 2px solid #333;
}

.form-input::-webkit-input-placeholder {
  color: #999;
}

.form::-webkit-input-placeholder {
  color: #999;
}

.form-label {
  font-size: 1rem;
  /*color: #f4f4f4;*/
  font-weight: 700;
  margin-left: 1rem;
  margin-top: .2rem;
  display: block;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.form-input:placeholder-shown + .form-label {
    /*opacity: 0;*/

    visibility: hidden;
    -webkit-transform: translateY(-4rem);
        -ms-transform: translateY(-4rem);
            transform: translateY(-4rem);
  }

.form-radio-group {
  width: 49%;
  display: inline-block;
}

.form-radio-input {
  display: none;
}

.form-radio-label {
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  padding-left: 2.7rem;
}

.form-radio-button {
  height: 2rem;
  width: 2rem;
  border: 1.7px solid #cf6d17;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: .2rem;
}

.form-radio-button::after {
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cf6d17;
  opacity: 0;
  transition: opacity .2s;
    
}

.form-radio-input:checked ~ .form-radio-label .form-radio-button::after {
  opacity: 1;
}

/*DISHES PAGE*/

.section-top-menu {
  height: 70vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(pictures/back-2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
    
}

.font-top-menu {
  display: block;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  margin-bottom: 2rem;
  text-transform: uppercase;
  word-spacing: .65rem;
}

.font-top--sub-menu {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  word-spacing: .65rem;
}

.header-menu {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*-------------------------------*/

.section-work {
  padding-left: 25rem;
  padding-right: 25rem;
  padding-bottom: 4rem;
}

.steps-box {
    margin-top: 3rem;
    font-size: 1.3rem;

}


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 7rem;
}

.app-screen {
    width: 55%;
}

.works-step {
    margin-bottom: 5rem;
}

.works-step:last-of-type {
    margin-bottom: 8rem;
}

.works-step div {
    color: #e67e22;
    font-size: 150%;
    height: 45px;
    width: 45px;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 4px;
}

/*.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}*/
/*form-search*/



.search {
  margin-top: 4rem;
  margin-bottom: 4rem;
  flex: 5 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input {
  font-size: 1.3rem;
  /*background: transparent;*/
  background: #f4f2f2;
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all .2s;
  margin-right: -3.25rem;
  /*text-align: left !important;*/
}

.search_input:focus {
  outline: none;
  border: none;
  width: 100%;
  background-color: #f0eeee;
  }

.search_input::-webkit-input-placeholder {
  font-weight: 400;
  color: #ccc;
}


.search_input:focus + .search_button {
  background-color: #f0eeee;
}

.search_button {
  border: none;
  /*background-color: transparent !important;*/
  background-color: #f4f2f2;
}

.search_button:focus {
    outline: none;
    border: none;
}

.search_button:active {
  transform: translateY(2px);
  /*background-color: transparent !important;*/
  

}


.search_icon {
  height: 2rem;
  width: 2rem;
  fill: #999;
  
}

/*. {
  border-bottom: 1px solid rgba(0, 0, 0 .2);
}*/

.carted-nav-box {
  position: relative;
  /*float: right;*/
  /*text-align: right;*/
  
}

.cart-icon {
  font-size: 2.5rem;
  color: #613D07;
}

/*.icon_features {
  font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    color: black; 
}*/

/*.carted-count {
  font-weight: 700;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  position: absolute;
  top: .3rem;
  right: 1.35rem; 
  text-align: center;
  align-items: center !important;
  display: flex; 
  justify-content: center;

}*/
/*-------------------------------*/
 /*Carted-count*/

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;
}

.user-nav > * {
  padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; 
}

/*.user-nav > *:hover {
  background-color:
}*/

.user-nav_icon-box {
  position: relative;
}

.user-nav-icon {
  height: 2.25rem;
    width: 2.25rem;
    fill: 777;
}

.user-nav_notification {
  font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: #e67e22;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------------*/



.hidden {
  display: none;
}



.box img {
  width: 100%;
  height: 130px;
  margin-bottom: .8rem;
  border-radius: 3px;
}

.grid-box {
  display: grid;
}

.grid-box .item-chef {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.grid-box .item-price {
  grid-column: 1 / 1;
  grid-row: 2 / 2;
}

.grid-box .item-btn {
  grid-column: 3;
  grid-row: 2 / 2;
}

.item-btn {
  text-align: right;
}


.grid-icon {
  font-size: 3.7rem;
  color: #e67e22; 
}
/*.item-btn button {
  outline: none !important;
  border: none  !important;

}*/

/*Modal dish*/

.form-control {
   line-height: 1;
   border: 1px solid #ced4da;
   box-shadow: #e67e22 !important;
   font-size: 1.2rem;

  }

.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

/*NEW_DISH PAGE / EDIT_PAGE*/ 


.section-form-dish {
  background: #f4f4f4;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 6rem;
  padding-top: 2rem;
}

.dish-box {  
  background: #fff;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0 .2);
  padding-left: .5rem;
  padding-right: .5rem;
  margin-bottom: 1.3rem;
}

/*section-quotes*/

.section-quotes {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(pictures/back-quotes.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(pictures/back-quotes.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    padding-bottom: 1.5rem;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 4rem;
    font-size: 1.5rem;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 2.5rem;
    display: block;
}




/*SHOPPING-CART*/
.section-cart-header {
  height: 60vh;
  /*width: 50%;*/
  background-image:  url(pictures/row-cart-4.gif);

  background-size: cover;
  background-position: center;
  
  /*background-attachment: fixed;*/
    
}

.check-box {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: right;
}


.feature-shop_icon {
    font-size: 1.5rem;
    border: none;
    outline: none;
    display: inline-block;   
    color: #cf6d17;  
}

.img-carted {
     width: 17rem;
     height: 10rem;
     border-radius: 2px;

}


#customers {
    width: 100%;
    text-align: center;
   

}

#customers .item {
    padding: .8rem;
    font-size: 1.1rem;
}

.line {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  /*font-size: 1.1rem;*/
}

 #customers th {
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;

}


#dish {
  width: 50%;
}

#remove {
  width: 5%;
}



.cart-img {
  padding-top: 1rem;
  height: 10vh;
  width: auto;
}

.dish-name {
  display: flex;
  text-align: left !important;
}

.name-item {
  font-weight: bold;
  font-size: 1.2rem;
}

.second-table {
  margin-left: .5rem;
  margin-right: .5rem;
}

.img-order {
  height: 50vh;
  width: auto;
  padding-top: 2rem;

}


.total-box {
  padding-left: 8rem;
  padding-top: 4rem;
  font-size: 1.3rem;
  font-weight: 300;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

ul.order-menu li {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}


.side-left {
  font-weight: 400;
}


/*SECTION-PAYMENT*/
.cart-gif {
  padding-top: 1rem;
  height: 60vh;
  width: auto;
}

.payment-box {
  margin: 2rem 0 2rem 0;
  padding: .5rem;
  border: .6px solid rgba(0, 0, 0, .2);
  display: inline-block;
}

.payment-text {
  margin-right: 1rem;
}


.recommend-payment img {
    height: 2.5rem;
    width: 4rem;
    margin-left: .3rem;
    margin-right: .3rem;
    border: 1px solid rgba(0, 0, 0, .2);
}

/*PAGE_ORDERS*/

.section-order-header {
  height: 60vh;
  width: auto;
  background-image:  url(payment/delivery.png);

  background-size: cover;
  background-position: center;
  
  background-attachment: fixed;
    
}

.table-box {
  font-weight: 700 !important;
  width: 80%;
  float: left;
  padding-right: 30px;
  position: relative;
}

.img-ordered {
  padding-top: .5rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.gift-text {
  line-height: 1rem;
}

.gift-box {
  width: 20%;
  float: left;
}

.cart-icon-order {
  font-size: 2.5rem;
  color: #e67e22;
}
/*================================================*/

.width-hearder {
  width: 35%;
}

.img-order-group {
  width: 70px;
  height: 45px;
}

.card-body-dishes {
  margin-bottom: .5rem;
  line-height: .3rem;
}

/*BUTTONS*/



/*btn - 1*/

.btn:focus {
  outline: #e67e22 !important;
  box-shadow: none  !important;

}

.btn:link,
.btn:visited,
input[type=submit],
button[type=button] {
  display: inline-block;
  padding: .5rem 3rem;
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-2:link,
.btn-2:visited {
  display: inline-block;
  font-size: .9rem;
  padding: .5rem;
  font-weight: 300;
  line-height: .75rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5rem;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}



.btn-full:link,
.btn-full:visited,
input[type=submit],
button[type=button] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;

}

.btn-ghost:link,
.btn-ghost:visited,
button[type=button]{
  border: 1px solid #e67e22 !important;
  color: #e67e22;
}


.btn:hover,
.btn:active {
   background-color: #cf6d17;

}

.btn-2:hover,
.btn-2:active {
   background-color: #cf6d17;

}

.btn-full:hover,
.btn-full:active, 
input[type=submit]:hover,
input[type=submit]:active,
button[type=button] {
  border: 1px solid #cf6d17;

  
}

.btn-ghost:hover,
.btn-ghost:active,
button[type=button] {
  border: 1px solid #cf6d17;
  color: #fff;
}

/*btn-2*/
.btn-text:link,
.btn-text:visited {
  color: #e67e22;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  padding: 3px;
  transition: all .2s;
}

.btn-text:hover {
  background-color: #e67e22;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(#000, .15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 .5rem 1rem rgba(#000, .15);
  transform: translateY(0);
}

/*.btn-modal {
  display: inline-block;
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
 
}

.btn-modal-close {
  display: inline-block;
  border: 1px solid #e67e22;
  color: #e67e22;
  
}*/

/*btn-3*/

.btn-sign {
  background-color: #e67e22;
  color: #fff;
}

.btn-cancel {
  /*background-color: rgba(207, 109, 23, 0.3); */
  background-color: #3D2300;
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
}

/*btn-4*/
/*.sign-filter  {
   background-color: #e67e22;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 3rem;
   font-size: 0.80rem;
   line-height: 1;
   border-radius: 50px;
   color: white!important;
   outline: none!important;
}*/

/*TYPOGRATHY*/
.font {
  color: #555;
  font-weight: 400;
  font-size: 1.2rem;

}

.font-prefooter {
  font-size: 1.2rem;
}

.font-color {
  color: #e67e22;
  font-weight: 700;
}

.font-color-gift {
  color: #e67e22;
  font-weight: 400;
  font-size: 1.2rem;
}

.font-form {
  font-weight: 700;
  font-size: 1.7rem;
  /*margin-bottom: 1.5rem;*/
}

.heading {
  padding: 1rem;
  padding-bottom: 2.5rem;
}

.heading--main {
  padding-top: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  animation-name: moveInRight; 
  animation-duration: 1s;
  transition: all .2s;
  word-spacing: .6rem;

}

.heading--secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  display: inline-block;
  animation-name: moveInRight; 
  animation-duration: 1s;
  transition: all .2s;
  word-spacing: .6rem;
  color: #fff;

}

@keyframes moveInRight {
   0% {
      opacity: 0;
      transform: translateX(10rem);
   }

   80% {
       transform: translate(-1rem);
   }

   100% {
        opacity: 1;
        transform: translate(0); 
   }
}

.heading-prefooter {
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-top: 2rem;
  word-spacing: 5px;

}




 /*.sing {
   background-color: #8E44AD;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 2rem;
   font-size: 0.80rem;
   line-height: 0.8;
   border-radius: 50px;
   color: white;
   margin: 0 14px;
   outline: none!important;
}*/

/*.sign-new {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 3rem;
   font-size: 0.80rem;
   line-height: 1;
   border-radius: 50px;
   color: white!important;
   margin: auto;
   outline: none!important;
}*/

/*.lead {
   font-size: 15px;
}

.block-header {
    padding: 15px 25px;
    border-radius: 50px;
    background: #f5f5f5;
}

.block-header h5 {
  margin-bottom: 0!important;
  font-size: 1rem!important;
}*/

/*h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
}*/

/*.mb-5 {
  margin-bottom: 2rem!important;
}*/

/*.content-block {
  margin-bottom: 2rem;
}*/

/*.block-body {
    padding: 20px 30px!important;
}*/


/*.block {*/
  /*min-height:100%;*/
/*}*/

/*.padding-small {
  padding: 25px 0;
  margin:15px;
}*/

/*PROFILE PAGE*/

.customer-profile {
    text-align: center;
    background: #f4f4f4;
    border: 1px solid #e9ecef;
    border-bottom: none;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 2rem;
}



.customer-profile a {
    /*color: #9055A2;*/
    text-decoration: none;
}

.name-user {
    margin-bottom: 0.5rem;
   
    font-weight: 700;
    line-height: 1.1;
    /*color: inherit;*/
}

.text-small {
    font-size: .8rem;
    font-weight: 700;
}

/*photo_user*/
.customer-image {
    padding: 0.5rem;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.125);
    max-width: 10rem;
    max-height: 10rem;
    margin-bottom: 1.5rem;
}

.rounded-circle {
    border-radius: 50%!important;
}


.img-user {
    vertical-align: middle;
  
}
/*-----------------------------*/
.list-group {
   
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.customer-nav .list-group-item {
    border: 1px solid #e9ecef;
    color: #495057;
    font-weight: 700;
    font-size: 1rem;

}

.profile-icon  {
  color: #cf6d17;
  margin-right: .5rem;  
}


/*=========================================*/
/*.list-group-item {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;

}

.content-block {
    margin-bottom: 4rem;
}

.customer-nav .list-group-item .fa {
    margin-right: 0.5rem;
}

.is-gray {
  background: #f5f5f5;
  padding:10px;
  margin:10px;

}*/

/*.is-gray img {
  height:200px;
  width: 350px;
}

.is-gray .ribbon {
  padding: 5px 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 999;
  font-size: 0.5em;
  background: #A33A80;
}


.text-middle {
  font-size: 15px;
}*/
/*-------------------------------------------------*/
/*.price, .cuisine, .chef {
  margin-bottom: .5rem;
  position: relative;
}

.cuisine {
  padding: 1px;
 
  text-align: center;
  font-family:  Cardo;
  font-size: 20px;  
}

.cuisine3 {
  padding: 1px;
  margin-right: 0;
  text-align: center;
  font-family:  Cardo;
  font-size: 20px;  
}

.cuisine2 {
  margin-top: .5rem;
}*/

/*.hidden {
  display: none;
}*/

/*.basket .basket-body {
    padding: 0 30px;
}*/



/*.basket .item {
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
}
.basket .title {
    margin-left: 20px;
}

.carted a {
    text-decoration: none;
   }

.basket-check {
  padding-top: 20px;
}

.block-header .row {
  margin-right: 15px!important;
  margin-left: 15px!important;
}*/





/*#price, #quantity, #subtotal, #remove {
  width: 15%;
}*/

/*#customers .form-group {
  margin-bottom:0!important;

}

.customers-order {
  color: #A33A80!important;
}*/

/*.picture  {
   
   background-size: 100% ;
   background-image:  url('/pictures/beans.jpg');
   padding: 40px;
   background-repeat: repeat-x;
   text-align: center;
   font-size: 4vw;
   color: #A33A80;
   font-family: Lobster, Times new roman;
   text-shadow: 2px 2px white;
   font-weight: 800;
   border-radius: 5px;
}*/

/*.button-filter {
   line-height: 1;
   border-radius: 50px;
   border: 1px solid #ced4da;
   box-shadow: #A33A80;
   font-size: 0.8rem;
   outline: none!important;

}


.button-filter:focus {
  border-color: #A33A80;
  box-shadow: 0 0 8px #A33A80;
  text-align: center;
}*/

/*.button-dishes {
  display: flex;
  padding: 25px 0;
  margin:15px;
}*/


/*.sign-filter  {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 3rem;
   font-size: 0.80rem;
   line-height: 1;
   border-radius: 50px;
   color: white!important;
   outline: none!important;
}*/








