body {
    margin:0;
}

.navbar {
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.main-footer {
   left: 0;
   margin-top:20px;
   bottom: 0;
   width: 100%;
   color: #888;
   text-align: center;
   display: block;

}

.copyright a {
   color: #888;

}

.copyright {
   font-size: 8px; 
   padding: 20px 0;  
}


.main-footer p {
   margin: 0;
}

.img-top {
   
    padding: 150px;
    margin: 0 auto;
    background: url(/pictures/purple.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    color: #A33A80;
    min-height: 50%;
    
}

.font-top {
 
    font-family: Lobster, Times new roman;
    text-align: center;
    margin: 20px 0;
    padding: 0 30px;

   text-shadow: 2px 2px white;
  }

.font-top h3 {
   font-size: 5vw;

   font-weight: 800;
   line-height: 1.1;
}

.font-top h4 {
   font-size: 3vw;
   font-weight: 800;
   line-height: 1.1;
}



.sign {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 2rem;
   font-size: 0.80rem;
   line-height: 0.8;
   border-radius: 50px;
   margin: 0 14px;
   outline: none!important;
}


 
.sign-new {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 3rem;
   font-size: 0.80rem;
   line-height: 1;
   border-radius: 50px;
   color: white;
   margin: auto;
   outline: none!important;
}

.lead {
   font-size: 15px;
}

.block-header {
    padding: 10px 30px;
    border-radius: 50px;
    background: #f5f5f5;
    
}

.block-body {
    padding: 20px 30px;
}

.form-control {
   line-height: 1;
   border-radius: 50px!important;
   border: 1px solid #ced4da;
   box-shadow: #A33A80 !important;
   

  }

.form-control:focus {
  border-color: #A33A80;
  box-shadow: 0 0 8px #A33A80;
}

.block {
  min-height: 82.5%;
}

.padding-small {
  padding: 70px 0;
}

.customer-profile {
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #e9ecef;
    border-bottom: none;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 2rem;
}

.d-inline-block {
    display: inline-block;
}

.customer-profile a {
    color: #9055A2;
    text-decoration: none;
}

.name-user {
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
}

.text-small {
    font-size: 0.6rem;
}

.customer-image {
    padding: 0.5rem;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.125);
    max-width: 10rem;
    margin-bottom: 1.5rem;
}

.rounded-circle {
    border-radius: 50%!important;
}

.img-fluid {
    /*max-width: 100%;*/
    height: auto;
}
.img-user {
    vertical-align: middle;
    /*border-style: none;*/
}

.list-group {
   
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.customer-nav .list-group-item {
    border: 1px solid #e9ecef;
    color: #495057;
    font-weight: 500;
    font-size: 0.7rem;

}
.list-group-item {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;

}

.content-block {
    margin-bottom: 4rem;
}

.customer-nav .list-group-item .fa {
    margin-right: 0.5rem;
}

.products-grid {
  padding: 100px 0;
}

