body {
    margin:0;
}

.navbar {
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.main-footer {
   left: 0;
   margin-top:20px;
   bottom: 0;
   width: 100%;
   color: #888;
   text-align: center;
   display: block;

}

.copyright a {
   color: #888;

}

.copyright {
   font-size: 8px; 
   padding: 20px 0;  
}


.main-footer p {
   margin: 0;
}

.img-top {
   
    padding: 150px;
    margin: 0 auto;
    background: url(/pictures/purple.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    color: #A33A80;
    min-height: 50%;
    
}

.font-top {
 
    font-family: Lobster, Times new roman;
    text-align: center;
    margin: 20px 0;
    padding: 0 30px;
    text-shadow: 2px 2px white;
  }

.font-top h3 {
   font-size: 5vw;
   font-weight: 800;
   line-height: 1.1;
}

.font-top h4 {
   font-size: 3vw;
   font-weight: 800;
   line-height: 1.1;
}



.sign {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 2rem;
   font-size: 0.80rem;
   line-height: 0.8;
   border-radius: 50px;
   color: white;
   margin: 0 14px;
   outline: none!important;
}


 
.sign-new {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 3rem;
   font-size: 0.80rem;
   line-height: 1;
   border-radius: 50px;
   color: white!important;
   margin: auto;
   outline: none!important;
}

.lead {
   font-size: 15px;
}

.block-header {
    padding: 10px 10px;
    border-radius: 50px;
    background: #f5f5f5;
}

.block-body {
    padding: 20px 30px;
}

.form-control {
   line-height: 1;
   border-radius: 50px!important;
   border: 1px solid #ced4da;
   box-shadow: #A33A80 !important;
   

  }

.form-control:focus {
  border-color: #A33A80;
  box-shadow: 0 0 8px #A33A80;
}

.block {
  min-height: auto
}

.padding-small {
  padding: 30px 0;
}

.customer-profile {
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #e9ecef;
    border-bottom: none;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    padding: 2rem;
}

.d-inline-block {
    display: inline-block;
}

.customer-profile a {
    color: #9055A2;
    text-decoration: none;
}

.name-user {
    margin-bottom: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    line-height: 1.1;
    color: inherit;
}

.text-small {
    font-size: 0.6rem;
}

.customer-image {
    padding: 0.5rem;
    background: #fff;
    border: solid 1px rgba(0, 0, 0, 0.125);
    max-width: 10rem;
    margin-bottom: 1.5rem;
}

.rounded-circle {
    border-radius: 50%!important;
}


.img-user {
    vertical-align: middle;
  
}

.list-group {
   
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.customer-nav .list-group-item {
    border: 1px solid #e9ecef;
    color: #495057;
    font-weight: 500;
    font-size: 0.7rem;

}
.list-group-item {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;

}

.content-block {
    margin-bottom: 4rem;
}

.customer-nav .list-group-item .fa {
    margin-right: 0.5rem;
}

.is-gray {
  background: #f5f5f5;
  padding:10px;
  margin:10px;   
}

.is-gray img {
  height:200px;
  width: 350px;
}

.is-gray .ribbon {
  padding: 5px 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 999;
  font-size: 0.5em;
  background: #A33A80;
}


.text-middle {
  font-size: 15px;
}

.price, .cuisine, .chef {
  margin-bottom: .5rem;
  position: relative;
}

.cuisine {
  padding: 1px;
  margin: 0 auto;
  text-align: center;
  font-family:  Cardo;
  font-size: 20px;  
}

.cuisine2 {
  margin-top: .5rem;
}

.hidden {
  display: none;
}

.basket .basket-body {
    padding: 0 30px;
}

.img-carted {
     width: 170px!important;
     height: 100px;
    
}

.basket .item {
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
}
.basket .title {
    margin-left: 20px;
}

.carted a {
    text-decoration: none;
   }

.basket-check {
  padding-top: 20px;
}

.block-header .row {
  margin-right: 15px!important;
  margin-left: 15px!important;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;

}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: white;
}

#customers tr:nth-child(even){background-color: lemonchiffon;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #A33A80;;
    color: white;
}
