body {
    margin:0;
}

.navbar {
  margin-bottom: 20px;
  min-height: 50px;
  border: 1px solid transparent;
}

.main-footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: #888;
   text-align: center;
   margin-top: 20px;
}


.copyright a {
   color: #888;

}

.copyright {
   font-size: 8px; 
   padding: 20px 0;  
}


.main-footer p {
   margin: 0;
}

.img-top {
    
    padding: 150px;
    margin: 0 auto;
    background: url(/pictures/purple.jpg);
    background-repeat: no-repeat;
    background-size: 100% ;
    color: #A33A80;
    
}

.font-top {
 
    font-family: Lobster, Times new roman;
    text-align: center;
    margin: 20px 0;
    padding: 0 30px;

   text-shadow: 2px 2px white;
  }

.font-top h3 {
   font-size: 5vw;

   font-weight: 800;
   line-height: 1.1;
}

.font-top h4 {
   font-size: 3vw;
   font-weight: 800;
   line-height: 1.1;
}

@media (max-width: 480px) { 
  
    }

.sign {
   background-color: #A33A80;
   font-weight: normal;
   border: 1px solid transparent;
   padding: 0.5rem 2rem;
   font-size: 0.80rem;
   line-height: 0.8;
   border-radius: 50px;
   margin: 0 14px ;
   
}




