/*@media only screen and (max-width: 600px) {
    html {
      font-size: 40%;
    }
}*/


/*Small phones to small tablets from 481 to 767px*/
@media only screen and (max-width: 767px) {

  html {
      font-size: 50%;
    }
  
  
  .nav { display: none; }
  
  .mobile-nav-icon {display: inline-block !important;}


  /*.nav {
    float: left;
    margin-top: 35px;
    margin-left: 25px;

  }*/

  .nav li {
    display: block ;

  }


  

  .nav li a:link,
  .nav li a:visited {
    display: block ;
    border: 0 ;
    padding: 10px 0 ;
    font-size: 100% ;
    

  }

  /*.navbar .nav { margin-top: 10px; }*/

  .navbar .nav li a:link,
  .navbar .nav li a:visited { padding: 10px 0; }
  .navbar .mobile-nav-icon { margin-top: 10px; }
  .navbar .mobile-nav-icon i { color: #555; }



  .u-padding-side {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
  }

  
  .font-top .font-top--main  {
    font-size: 90%;
  }

  .font-top .font-top-menu {
    font-size: 95%;
  }

  .font-top .font-top--sub-menu {
    font-size: 80%;
  }

  .section-work-step-2 {  
      padding-left: 2% !important;
      padding-right: 2% !important;  
    }



  .steps-box:first-child { text-align: center; }

  .works-step div {
    height: 40px;
    width: 40px;
    margin-right: 15px;
    padding: 4px; 
    font-size: 120%;
 }

  .app-screen { width: 40%; }

  .works-step { margin-bottom: 20px; }
  .works-step:last-of-type { margin-bottom: 20px; }

  /*.map-box {
    width: 100%;
    height: auto;
    position: relative;
  }

  .map {
    width: 100%;
    height: 300px;
    position: relative;
    z-index: 0;
  }

  .form-box {
    position: relative;
    width: 100%;   
    height: auto;
    padding: 30px 0;
  }
*/
}